<div id="channels" class="section_holder">
  <h4 id="channels_header">
    Your Channels
  </h4>
  <ul id="channel-list">
    <li class="channel">
      <a class="channel-name" data-channel-id="1">
      <span>
        #general1
      </span>
      </a>
    </li>
    <li class="channel">
      <a class="channel-name" data-channel-id="2">
      <span>
        #general2
      </span>
      </a>
    </li>
    <li class="channel">
      <a class="channel-name" data-channel-id="3">
      <span>
        #general3
      </span>
      </a>
    </li>
    <li class="channel">
      <a class="channel-name" data-channel-id="3">
      <span>
        #general3
      </span>
      </a>
    </li>
    <li class="channel">
      <a class="channel-name" data-channel-id="3">
      <span>
        #general3
      </span>
      </a>
    </li>
    <li class="channel">
      <a class="channel-name" data-channel-id="3">
      <span>
        #general3
      </span>
      </a>
    </li>
    <li class="channel">
      <a class="channel-name" data-channel-id="3">
      <span>
        #general3
      </span>
      </a>
    </li>
    <li class="channel">
      <a class="channel-name" data-channel-id="3">
      <span>
        #general3
      </span>
      </a>
    </li>
    <li class="channel">
      <a class="channel-name" data-channel-id="3">
      <span>
        #general3
      </span>
      </a>
    </li>
    <li class="channel">
      <a class="channel-name" data-channel-id="3">
      <span>
        #general3
      </span>
      </a>
    </li>
    <li class="channel">
      <a class="channel-name" data-channel-id="3">
      <span>
        #general3
      </span>
      </a>
    </li>
    <li class="channel">
      <a class="channel-name" data-channel-id="3">
      <span>
        #general3
      </span>
      </a>
    </li>
    <li class="channel">
      <a class="channel-name" data-channel-id="3">
      <span>
        #general3
      </span>
      </a>
    </li>
    <li class="channel">
      <a class="channel-name" data-channel-id="3">
      <span>
        #general3
      </span>
      </a>
    </li>
    <li class="channel">
      <a class="channel-name" data-channel-id="3">
      <span>
        #general3
      </span>
      </a>
    </li>
    <li class="channel">
      <a class="channel-name" data-channel-id="3">
      <span>
        #general3
      </span>
      </a>
    </li>
    <li class="channel">
      <a class="channel-name" data-channel-id="3">
      <span>
        #general3
      </span>
      </a>
    </li>
    <li class="channel">
      <a class="channel-name" data-channel-id="3">
      <span>
        #general3
      </span>
      </a>
    </li>
    <li class="channel">
      <a class="channel-name" data-channel-id="3">
      <span>
        #general3
      </span>
      </a>
    </li>
    <li class="channel">
      <a class="channel-name" data-channel-id="3">
      <span>
        #general3
      </span>
      </a>
    </li>
  </ul>
  <div class="clearfix"></div>
</div>
