<div class="col-sm-offset-2 message-sender">
  <div id="messages-input-container" class="message-sender-height">
    <form id="message-form" onsubmit="return false;" class="message-sender-height">
      <textarea id="message-input" class="message-sender-textarea"
                autocorrect="off" autocomplete="off"
                spellcheck="true"></textarea>
    </form>
  </div>
</div>
