<header role="banner">
  <div class="header">
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Chat app{{#if user}}: {{user.name}}{{/if}}</a>
        </div>
        {{#if user}}
          <div id="navbar-main" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/signout">Sign out</a></li>
            </ul>
          </div>
        {{/if}}
      </div>
    </nav>
  </div>
</header>
