<div class="container">
  <form class="form-signin" action="/auth" method="post">
    <h2 class="form-signin-heading">Sign in</h2>

    <input type="text" id="username" name="username" class="form-control" placeholder="User name" required="true" autofocus="true">

    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>
</div>
